@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Sales:</strong>   <a href="mailto:@ViewBag.SalesEmail">@ViewBag.SalesEmail</a><br />
</address>